/* Fonts */
@font-face {
    font-family: 'GraphicPixel';
    src: url('../fonts/graphicpixel-webfont.eot');
    src: url('../fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/graphicpixel-webfont.woff') format('woff'),
         url('../fonts/graphicpixel-webfont.ttf') format('truetype'),
         url('../fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'MiniSet2';
	src: url('../fonts/miniset2-webfont.eot');
	src: url('../fonts/miniset2-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/miniset2-webfont.woff') format('woff'),
		 url('../fonts/miniset2-webfont.ttf') format('truetype'),
		 url('../fonts/miniset2-webfont.svg#MiniSet2') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Volter';
	src: url('../fonts/volter__28goldfish-webfont.eot');
	src: url('../fonts/volter__28goldfish-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/volter__28goldfish-webfont.woff') format('woff'),
		 url('../fonts/volter__28goldfish-webfont.ttf') format('truetype'),
		 url('../fonts/volter__28goldfish-webfont.svg#VolterGoldfishRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* Basic */
.clear-fix:before,
.clear-fix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

body {
    background: rgb(50,50,50);
    color: rgb(255,255,255);
    font-size: 1.1em;
    margin: 0;
}

body, button, input {
    font-family: 'ubuntu-mono', 'GraphicPixel', 'Titillium Web', sans-serif;
}

button {
    border: 0 none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: inherit;
    padding: 0.2em 0.4em;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.canvas > canvas {
     margin: 0 auto;
}

.canvas-background {
     background-color: rgb(255,255,255);
}

.canvas-foreground {
     left: 0;
     position: absolute;
     top: 0;
     z-index: 1;
}

.hidden {
    display: none;
}


/* Menu */
.unbulleted-list,
.menu,
.menu-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-horizontal > li {
    display: inline;
}

.menu > li > button {
    border: 0 none;
    border-radius: 0.3em;
    margin-top: 0.3em;
    padding: 0.3em 1.5em;
    text-align: center;
}


/* Character actions */
.character-actions-menu {
    left: 1.0em;
    position: absolute;
    top: 1.0em;
}

.character-actions-menu > li > button {
    width: 7.0em
}


/* Game menu */
.game-menu-button {
    position: absolute;
    right: 1.0em;
    top: 1.0em;
}

.game-menu {
    background-color: rgba(0,0,0,0.7);
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.game-menu-list {
    display: table-cell;
    vertical-align: middle;
}

.game-menu-list > li > button {
    width: 11.0em
}


/* Game utilities */
.statistic {
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.5em;
    color: white;
    padding: 1.0em;
    position: absolute;
    right: 0.5em;
    text-align: right;
    top: 0.5em;
    width: 6.0em;
    z-index: 10;
 }
 
 .time {
    top: 4.0em;
 }


/* Scrolling table */
table.scrollable > tbody,
table.scrollable > thead {
    display: block;
}

table.scrollable > thead > tr {
    display: block;
    position: relative;
}

table.scrollable > tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

/*table.scrollable > tbody::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
}

table.scrollable > tbody::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: rgba(255,255,255,.3);
}*/


/* Table */
table {
	background: rgba(0,0,0,0.8);
	border-collapse: collapse;
    border: 1px solid rgb(30,30,30);
    box-shadow: 0 0 1.0em rgba(0,0,0,0.5);
	color: #fff;
    line-height: 1.2;
	text-align: left;
}	

th, td {
    padding: 1.0em 1.5em;
}

th {
	background-color: rgb(0,0,0);
    font-weight: bold;
	padding-top: 1.2em;
    padding-bottom: 1.2em;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.2));
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	top: 0%;
	width: 100%;
}

tbody > tr {
	background-color: rgba(255,255,255,0.05);
}

tbody > tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.1);
}	

tbody > tr:hover {
	background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

td {
	position: relative;
	transition: all 300ms;
}


/* Modal */
.modal {
    background-color: rgba(0,0,0,0.8);
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: zoom-in;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.2s;
    animation-name: zoom-in;
    animation-timing-function: ease-out;
}

/* Home */
.home-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 2.0em 0;
    text-align: center;
    width: 800px;
}

/* Home: Character list */
.characters-view {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fade-in;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-name: fade-in;
    animation-timing-function: ease-out;
}

.character-list {
    margin-top: 1.0em;
    width: 100%;
}

.character-list th:nth-child(1),
.character-list td:nth-child(1) {
    min-width: 15em;
}

.character-list th:nth-child(2),
.character-list td:nth-child(2),
.character-list th:nth-child(3),
.character-list td:nth-child(3),
.character-list th:nth-child(4),
.character-list td:nth-child(4) {
    text-align: right;
    min-width: 3em;
}

.character-list th:last-child,
.character-list td:last-child {
    width: 50em;
}

/* Event log */
.event-log {
    background-color: rgba(0,0,0,0.5);
    bottom: 1.0em;
    height: 12.2em;
    left: 1.0em;
    overflow-y: scroll;
    padding: 0.5em 1.0em;
    position: fixed;
    width: 20em;
    z-index: 100;
}

.event-log::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
}

.event-log::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: rgba(255,255,255,.3);
}

.event-log > p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin: 0.5em 0;
    text-shadow: 0 1px 2px black;
}

.log-item {
    color: yellow;
}

.log-item > .attribute {
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    color: #fff;
    font-size: 85%;
    padding: 2px 6px;
}

/* Main Menu */
.main-menu-view {
    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: fade-in;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-name: fade-in;
    animation-timing-function: ease-out;
}

/* Edit Character */
.edit-character-class-menu {
    margin-top: 1.0em;
}

.edit-character-class-menu > li > button {
    font-size: 140%;
}

.animate-screen-in,
.edit-character-class-view,
.edit-character-view {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fade-in;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-name: fade-in;
    animation-timing-function: ease-out;
}

.edit-character {
    display: table;
    margin: 0 auto;
    text-align: left;
    width: 500px;
}

.edit-character-top {
    text-align: left;
}

.edit-character-name {
    font-size: 140%;
    margin-top: 1.0em;
    width: 19.5em;
}

.edit-character-gender {
    
}

.edit-character-left,
.edit-character-right {
    box-sizing: border-box;
    float: left;
    margin-top: 1.0em;
}

.edit-character-left {
    padding-right: 1.0em;
    width: 13em;
}

.edit-character-right {
    width: 15em;
}

.edit-character-right h2 {
    margin: 0;
}

.edit-character-portrait {
    background-color: rgba(0,0,0,0.5);
    color: #666;
    height: 250px;
    line-height: 250px;
    text-align: center;
    vertical-align: middle;
}

.edit-character-attributes {
    margin-top: 1.0em;
}

.edit-character-attributes,
.edit-character-attribute-points {
    font-size: 150%;
    text-align: left;
}

.edit-character-attribute-points {
    margin: 0.2em 0;
}

.attributes {
    display: table;
    margin: 0 auto;
}

.attributes > li {
    display: table-cell;
    padding: 0 10px;
    width: 10em;
}

.attribute-ratio > span {
    display: inline-block;
    padding: 0 0.1em;
    text-align: right;
    width: 0.7em;
}

/*
.attributes > li:first-child > .skills > li:before {
    content: "IV";
    position: absolute;
    top: 0;
    left: -20px;   
}
*/

.edit-character-skills,
.edit-character-units {
    background-color: rgba(0,0,0,0.5);
    padding: 1.0em 1.5em;
}

.unit-proficiencies,
.unit-proficiencies > li,
.skills,
.skills > li {
    /*display: inline-block;*/
}

.unit-proficiencies > li,
.skills > li {
    color: #999;
    position: relative;
}

.unit-proficiency,
.skill {
    /*background-color: rgba(0,0,0,0.4);*/
    color: #666;
    /*margin: 5px 0;*/
    padding: 2px 0;
    text-align: right;
}

.unit-proficiency-name,
.skill-name {
    float: left;
}

.edit-character-skills > .selected > .skill,
.edit-character-units > .selected > .unit-proficiency,
.unit-proficiencies > .selected,
.skills > .selected {
    /*background-color: rgba(255,255,255,0.4);*/
    color: #fff;
}

.unit-proficiency-ratio > span,
.skill-ratio > span {
    display: inline-block;
    padding: 0 0.1em;
    width: 1.7em;
}

/* Scrolling selector */
.scrolling-selector-action,
.scrolling-selector-content {
    height: 5em;
    vertical-align: middle;
}

.scrolling-selector-content,
.scrolling-selector-content > li {
    width: 200px;
}

.scrolling-selector-content {
    display: inline-block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.scrolling-selector-content > li {
    display: inline-block;
    left: 100%;
    line-height: 5em;
    position: absolute;
    text-align: center;
}

.scrolling-selector-content > .selected {
    left: 0;
    z-index: 1;
}

.scrolling-selector-animate-in-left {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: scrolling-selector-animate-in-left;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: scrolling-selector-animate-in-left;
    animation-timing-function: ease-out;
}

.scrolling-selector-animate-in-right {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: scrolling-selector-animate-in-right;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: scrolling-selector-animate-in-right;
    animation-timing-function: ease-out;
}

.scrolling-selector-animate-out-left {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: scrolling-selector-animate-out-left;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: scrolling-selector-animate-out-left;
    animation-timing-function: ease-out;
}

.scrolling-selector-animate-out-right {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: scrolling-selector-animate-out-right;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-name: scrolling-selector-animate-out-right;
    animation-timing-function: ease-out;
}

/* Animations */

/* Scrolling selector */
@-webkit-keyframes scrolling-selector-animate-in-left {
    from {
        left: -100%;
    }
    
    to {
        left: 0;
    }
}

@keyframes scrolling-selector-animate-in-left {
    from {
        left: -100%;
    }
    
    to {
        left: 0;
    }
}

@-webkit-keyframes scrolling-selector-animate-in-right {
    from {
        left: 100%;
    }
    
    to {
        left: 0;
    }
}

@keyframes scrolling-selector-animate-in-right {
    from {
        left: 100%;
    }
    
    to {
        left: 0;
    }
}

@-webkit-keyframes scrolling-selector-animate-out-left {
    from {
        left: 0;
    }
    
    to {
        left: -100%;
    }
}

@keyframes scrolling-selector-animate-out-left {
    from {
        left: 0;
    }
    
    to {
        left: 100%;
    }
}

@-webkit-keyframes scrolling-selector-animate-out-right {
    from {
        left: 0;
    }
    
    to {
        left: 100%;
    }
}

@keyframes scrolling-selector-animate-out-right {
    from {
        left: 0;
    }
    
    to {
        left: 100%;
    }
}

/* Generic */
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@-webkit-keyframes zoom-in {
    from {
        transform: scale(0.5);
    }
    
    to {
        transform: scale(1.0);
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0.5);
    }
    
    to {
        transform: scale(1.0);
    }
}