<!DOCTYPE html>
<html lang="en">
<head>
	<title>Nameless</title>
	<link type="text/css" media="screen" rel="stylesheet" href="css/game.css">
</head>
<body>
	<div id="gameContainer">
        <div id="homeContainer" class="home-container">
            <!--
            <div id="mainMenuView" class="main-menu-view hidden"></div>
            <div id="charactersView" class="characters-view hidden"></div>-->
        </div>
    </div>
    
    <div id="eventLog" class="event-log"></div>
    
    <script id="eventLogItemTemplate" type="text/template">
        <span class="<%= cssClass %>"><%= message %></span>
    </script>
    
    <script id="gameTemplate" type="text/template">
        <div id="homeContainer" class="home-container"></div>
    </script>
    
    <script id="mainMenuTemplate" type="text/template">
        <h1>Nameless</h1>
        <ul class="menu main-menu">
            <li><button id="continueGame">Continue Game</button></li>
            <li><button id="newGame">New Game</button></li>
            <li><button id="characters">Characters</button></li>
            <li><button id="newCharacter">New Character</button></li>
        </ul>
    </script>
    
    <script id="gameMenuTemplate" type="text/template">
        <button id="gameMenuButton" class="game-menu-button">Menu</button>
        <div id="gameMenu" class="hidden">
            <div class="game-menu">
                <ul class="game-menu-list menu">
                    <li><button id="resumeGame">Resume</button></li>
                    <li><button id="saveGame">Save</button></li>
                    <li><button id="quitGame">Quit</button></li>
                </ul>
            </div>
        </div>
    </script>
    
    <script id="charactersTemplate" type="text/template">
        <div class="characters-header">
            <ul class="menu menu-horizontal">
                <li><button id="mainMenu">Main Menu</button></li>
                <li><button id="newCharacter">New Character</button></li>
            </ul>
        </div>
        <div class="characters-body">
            <table id="characterList" class="scrollable character-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>STR</th>
                        <th>INT</th>
                        <th>CHR</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="characterListItems"></tbody>
            </table>
        </div>
    </script>
    
    <script id="characterListItemTemplate" type="text/template">
        <td><%= name %></td>
        <% attributes.each(function (attribute) {
            print('<td>' + attribute.get('value') + '</td>')
        }); %>
        <td></td>
    </script>
    
    <script id="editCharacterManagerTemplate" type="text/template">
        <div id="editCharacterManagerContent"></div>
        <div id="editCharacterManagerActions"></div>
    </script>
    
    <script id="editCharacterClassTemplate" type="text/template">
        <h1>Choose a Character Class</h1>
        <ul class="menu edit-character-class-menu">
            <li>
                <button data-character-class="average">Average</button>
                <p>Well-rounded and adept at all skills, but lacks a truly outstanding strength.</p>
            </li>
            <li>
                <button data-character-class="soldier">Soldier</button>
                <p>Highly skilled in the art of combat. A force to be reckoned with on the battlefield.</p>
            </li>
            <li>
                <button data-character-class="genius">Genius</button>
                <p>Intellect is unmatched among peers. Strategies are highly successful and effective.</p>
            </li>
            <li>
                <button data-character-class="mesmer">Mesmer</button>
                <p>A magnetic personality that is convincing and extremely influential. Ideas are easily accepted, and others follow.</p>
            </li>
        </ul>
    </script>
    
    <script id="editCharacterClassActionsTemplate" type="text/template">
        <li><button id="cancelCharacterClass">Cancel</button></li>
    </script>
    
    <script id="editCharacterTemplate" type="text/template">
        <h1>Customize Your Character</h1>
        <div class="edit-character">
            <div class="edit-character-top clear-fix">
                <input id="name" class="edit-character-name" type="text" placeholder="Name" value="<%= name %>" />
            </div>
            <div class="edit-character-left">
                <button id="gender" style="margin-bottom: 0.3em; width: 100%;"><%= gender %></button>
                <div class="edit-character-portrait">Portrait</div>
                <ul id="attributes" class="unbulleted-list edit-character-attributes"></ul>
                <p class="edit-character-attribute-points">
                    <span>PTS</span>
                    <span class="attribute-ratio">
                        <span id="availableAttributePoints"></span>
                    </span>
                </p>
            </div>
            <div class="edit-character-right">
                <h2>Skills</h2>
                <ul id="skills" class="unbulleted-list edit-character-skills"></ul>
                <h2>Units</h2>
                <ul id="units" class="unbulleted-list edit-character-units"></ul>
            </div>
        </div>
    </script>
    
    <script id="editCharacterActionsTemplate" type="text/template">
        <li><button id="save">Save</button></li>
        <li><button id="editCharacterClass">Change Character Class</button></li>
        <li><button id="cancelCharacterDetail">Cancel</button></li>
    </script>
    
    <script id="editCharacterAttributeTemplate" type="text/template">
        <span><%= displayName %></span>
        <span class="attribute-ratio">
            <span class="attributeValue"><%= startValue %></span>/<span><%= maxStartValue %></span>
        </span>
        <button data-attribute-change="+">+</button>
        <button data-attribute-change="-">-</button>
        <ul class="skillProficiencies unbulleted-list skills"></ul>
        <ul class="unitProficiencies unbulleted-list unit-proficiencies"></ul>
    </script>
    
    <script id="editCharacterUnitProficiencyTemplate" type="text/template">
        <div class="unit-proficiency clear-fix">
            <span class="unit-proficiency-name"><%= name %></span>
            <span class="unitProficiency unit-proficiency-ratio">
                <span class="unitProficiencyValue"><% print(this.model.getValue()) %></span>/<span class="unitProficiencyMaxValue"><%= maxValue %></span>%
            </span>
        </div>
    </script>
    
    <script id="editCharacterSkillTemplate" type="text/template">
        <div class="skill clear-fix">
            <span class="skill-name"><%= name %></span>
            <span class="skillProficency skill-ratio">
                <span class="skillValue"><% print(this.model.getValue()) %></span>/<span class="skillMaxValue"><%= maxValue %></span>%
            </span>
        </div>
    </script>
    
    <script id="modalTemplate" type="text/template">
        <div class="modal-content">
            <div id="modalContent"></div>
            <ul class="menu">
                <li><button id="modalClose">Cancel</button>
            </ul>
        </div>
    </script>
    
    <script id="editCharacterGenderTemplate" type="text/template">
        <ul class="menu">
            <li><button class="editCharacterGenderOption" data-gender="Male">Male</button></li>
            <li><button class="editCharacterGenderOption" data-gender="Female">Female</button></li>
        </ul>
    </script>
    
    <script id="characterClassTemplate" type="text/template">
        <span><%= name %></span>
    </script>
    
    <script id="scrollingSelectorTemplate" type="text/template">
        <button class="scrollingSelectorPrev scrolling-selector-action"><</button>
        <ul class="scrollingSelectorContent unbulleted-list scrolling-selector-content"></ul>
        <button class="scrollingSelectorNext scrolling-selector-action">></button>
    </script>
    
	<script src="javascript/libraries/require.min.js" data-main="javascript/main.js"></script>
</body>
</html>