<!DOCTYPE html>
<html lang="en">
<head>
	<title>Nameless</title>
	<link type="text/css" media="screen" rel="stylesheet" href="css/game.css">
</head>
<body>
	<div id="gameContainer">
        <div id="homeContainer" class="home-container">
            <!--
            <div id="mainMenuView" class="main-menu-view hidden"></div>
            <div id="charactersView" class="characters-view hidden"></div>-->
        </div>
    </div>
    
    <script id="gameTemplate" type="text/template">
        <div id="homeContainer" class="home-container"></div>
    </script>
    
    <script id="mainMenuTemplate" type="text/template">
        <h1>Nameless</h1>
        <ul class="menu main-menu">
            <li><button id="continueGame">Continue Game</button></li>
            <li><button id="newGame">New Game</button></li>
            <li><button id="editCharacter">Edit Character</button></li>
            <li><button id="newCharacter">New Character</button></li>
        </ul>
    </script>
    
    <script id="gameMenuTemplate" type="text/template">
        <button id="gameMenuButton" class="game-menu-button">Menu</button>
        <div id="gameMenu" class="hidden">
            <div class="game-menu">
                <ul class="game-menu-list menu">
                    <li><button id="resumeGame">Resume</button></li>
                    <li><button id="saveGame">Save</button></li>
                    <li><button id="quitGame">Quit</button></li>
                </ul>
            </div>
        </div>
    </script>
    
    <script id="charactersTemplate" type="text/template">
        <div class="characters-header">
            <ul class="menu menu-horizontal">
                <li><button id="mainMenu">Main Menu</button></li>
                <li><button id="newCharacter">New Character</button></li>
            </ul>
        </div>
        <div class="characters-body">
            <table id="characterList" class="scrollable character-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>STR</th>
                        <th>INT</th>
                        <th>CHR</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="characterListItems"></tbody>
            </table>
        </div>
    </script>
    
    <script id="characterListItemTemplate" type="text/template">
        <td><%= name %></td>
        <td><%= str %></td>
        <td><%= int %></td>
        <td><%= chr %></td>
        <td></td>
    </script>
    
    <script id="characterTypeTemplate" type="text/template">
        <ul class="menu menu-horizontal">
            <li><button id="cancel">Cancel</button></li>
        </ul>

        <ul class="menu character-type-menu">
            <li>
                <button data-character-type="Strength">Soldier</button>
                <p>Highly skilled in the art of combat. A force to be reckoned with on the battlefield.</p>
            </li>
            <li>
                <button data-character-type="Intelligence">Genius</button>
                <p>Intellect is unmatched among peers. Strategies are highly successful and effective.</p>
            </li>
            <li>
                <button data-character-type="Charisma">Mesmer</button>
                <p>A magnetic personality that is convincing and extremely influential. Ideas are easily accepted, and others follow.</p>
            </li>
            <li>
                <button data-character-type="Average">Average</button>
                <p>Well-rounded and adept at all skills, but lacks a truly outstanding strength.</p>
            </li>
        </ul>
    </script>
    
    <script id="editCharacterTemplate" type="text/template">
        <ul class="menu menu-horizontal">
            <li><button id="save">Save</button></li>
            <li><button id="back">Back</button></li>
        </ul>

        <input id="name" type="text" placeholder="Name" />
        <p>Attribute Points: <span id="availableAttributePoints"></span></p>
        <ul class="unbulleted-list attributes">
            <li>
                <label for="str">STR</label>
                <span id="str"></span>/<span id="strMax"></span>
                <button id="strIncrease" data-attribute="str" data-attribute-change="+">+</button>
                <button id="strDecrease" data-attribute="str" data-attribute-change="-">-</button>
                <ul id="strSkills" class="unbulleted-list skills"></ul>
            </li>
            <li>
                <label>INT</label>
                <span id="int"></span>/<span id="intMax"></span>
                <button id="intIncrease" data-attribute="int" data-attribute-change="+">+</button>
                <button id="intDecrease" data-attribute="int" data-attribute-change="-">-</button>
                <ul id="intSkills" class="unbulleted-list skills"></ul>
            </li>
            <li>
                <label>CHR</label>
                <span id="chr"></span>/<span id="chrMax"></span>
                <button id="chrIncrease" data-attribute="chr" data-attribute-change="+">+</button>
                <button id="chrDecrease" data-attribute="chr" data-attribute-change="-">-</button>
                <ul id="chrSkills" class="unbulleted-list skills"></ul>
            </li>
        </ul>
        
        <!--<h3>Combat</h3>
        <ul class="menu skills">
            <li data-combat-id="0">Foot</li>
            <li data-combat-id="1">Horse</li>
            <li data-combat-id="2">Bow</li>
        </ul>
        
        <p></p>-->
    </script>
    
    <script id="skillTemplate" type="text/template">
        <%= name %>
    </script>
    
	<script src="javascript/libraries/require.min.js" data-main="javascript/main.js"></script>
</body>
</html>