<h1>Create Your Character</h1>
<input id="editCharacterName" class="edit-character-name" type="text" placeholder="Name" value="<%= name %>" />

<div style="display: table; margin: 0 auto;">
    <div style="display: table-cell;">
        <h2>Gender</h2>
        <div id="editCharacterGender"></div>
        <h2>Talent</h2>
        <div id="editCharacterClass"></div>
    </div>
    <div style="display: table-cell; padding-left: 4.0em;">
        <h2>Portrait</h2>
        <div id="editCharacterPortrait"></div>
    </div>
</div>